/* ############################ PARTE 12:overflow ################ */
div.overflow{
    width:350px;
    height:200px;
    background-color:#808080;
    overflow:auto;
    }
    /* ############################ PARTE 13:background-color ################ */
    div.backgroundcolor{
    border:1px solid black;
    padding:10px;
    }
    div{background-color:#ccc;}
    h3{ background-color:#eee;  } 
     p{  background-color:#999;}   
        
    
    
    
    